<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
</head>
<body>
<h1>[[${msg}]]</h1>
<p>[[${description}]]</p>

<a th:href="@{/users}">to users page</a>

<form th:action="@{/user}" method="post">
    <input name="id">
    <input type="text" name="name">
    <button>save</button>

</form>


</body>
</html>
